* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  margin: 25px;
  display: flex;
  justify-content: center;
}

.calculator {
  background: black;
  border-radius: 50px;
  color: white;
  height: 625px;
  padding: 25px;
  position: relative;
  width: 426px;
}

.top-container {
  display: flex;
  height: 71px;
  justify-content: space-between;
  padding: 0 20px;
}

.value {
  font-size: 41px;
  font-weight: 300;
  height: 69px;
  margin-bottom: 20px;
  margin-right: 20px;
  text-align: right;
}

.buttons-container {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.button {
  align-items: center;
  background: #333;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  font-size: 32px;
  height: 70px;
  justify-content: center;
  transition: filter 0.3s;
  width: 70px;
}

.button.function {
  color: #00fa00;
}

.button.operator {
  color: #00fa00;
}

.button.number-0 {
  border-radius: 55px;
  grid-column: 1 / span 2;
  justify-content: flex-start;
  padding-left: 84px;
  width: 182px;
}

.button:active,
.button:focus {
  filter: brightness(120%);
}

.bottom {
  width: 200px;
  height: 5px;
  background: white;
  border-radius: 4px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.button.function.ac {
  color: rgb(255, 89, 89);
}

.button.operator.equal {
  background-color: #00fa00;
  color: white;
}
